@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

$main-font:'Source Sans Pro', sans-serif;

$body-background:rgb(50, 50, 50);
$body-gradient:linear-gradient(170deg, rgba(50, 50, 50, 1) 0%, rgba(35, 35, 35, 1) 50%, rgba(17, 17, 17, 1) 100%) fixed;

$track-background:#CDCDCD;
$scroll-background:rgb(26, 26, 26);
$scroll-gradient:linear-gradient(180deg, rgba(26, 26, 26, 1) 0%, rgba(50, 50, 50, .86) 100%);

$header-background:rgb(17,17,17);
$header-gradient:linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(50,50,50,0.87) 100%);

$article-background:rgb(50, 50, 50);
$article-gradient:linear-gradient(180deg, rgba(50, 50, 50, 0.8) 0%, rgba(50, 50, 50, 0) 100%);

$m-white:#DADADA;
$contrast:#10C5C0;
$padrao-button:.3s;
