@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

$body-background:rgb(50, 50, 50);
$body-gradient:linear-gradient(170deg, rgba(50, 50, 50, 1) 0%, rgba(35, 35, 35, 1) 50%, rgba(17, 17, 17, 1) 100%) fixed;

$header-background:rgb(17,17,17);
$header-gradient:linear-gradient(90deg, rgba(17,17,17,1) 0%, rgba(50,50,50,0.87) 100%);

// $login-button-background:rgb(0, 161, 156);
// $login-button-gradient:linear-gradient(90deg, rgba(0, 161, 156, 1) 0%, rgba(16, 197, 192, 0) 100%);

$m-white:#DADADA;
$contrast:#10C5C0;

$padrao-button:.3s;

$main-font:'Source Sans Pro', sans-serif;
