/* header */
@keyframes back-arrow {
  from {
    transform: translateX(.3rem);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes go-arrow {
  from {
    transform:translateX(0);
  }

  to {
    transform: translateX(.3rem);
  } 
}

@keyframes show-detail {
  from {
    width: 0rem;
  }

  to {
    width: 1rem;
  }
}

@keyframes hides-detail {
  from {
    width: 1rem;
  }

  to {
    width: 0rem;
  }
}

//menu {
@keyframes show-menu {
  from {
    opacity:0;
    transform:translateY(1rem);
  }

  to {
    opacity:1;
    transform:translateY(0rem);
  }
}

@keyframes hides-menu {
  from {
    opacity:1;
    transform: translateY(0rem);
  }

  to {
    opacity:0;
    transform: translateY(1rem);
  }
}

//Saiba mais
@keyframes show-main-container {
  from {
    opacity:0;
    transform:translateY(-1.8rem);
  }

  to {
    opacity:1;
    transform:translateY(0);
  }
}

@keyframes show-main-button {
  from {
    opacity:0;
    transform:translateY(2rem);
  }

  to {
    opacity:1;
    transform:translateY(0);
  }
}

//curiosidades
@keyframes show-curiosidade {
  from {
    opacity:0;
    transform:translateX(-2rem);
  }

  to {
    opacity:1; 
    transform:translateX(0);
  }
}
