/* header */
@keyframes back-arrow {
  from {
    transform: translateX(.3rem);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes go-arrow {
  from {
    transform:translateX(0);
  }

  to {
    transform: translateX(.3rem);
  } 
}

@keyframes show-detail {
  from {
    width: 0rem;
  }

  to {
    width: 1rem;
  }
}

@keyframes hides-detail {
  from {
    width: 1rem;
  }

  to {
    width: 0rem;
  }
}

//footer
