@media (max-width:65rem) {
  body {
    background:none;
  }

  header {
    padding:0rem 1.5rem .6rem .3rem;

    .logo {
      height:3rem;
    }

    nav {
      gap:none;
      cursor:pointer;
      width:2.7rem;
      height:1rem;
      border-radius:.3rem;
      padding:none;
      justify-content:center;
      margin-top:1.1rem;
    }

    .toggle-menu, .toggle-menu:before, .toggle-menu:after {
      background:$toggle-menu-background;
      background:$toggle-menu-gradient;
      border-radius:.1rem 0 0 .1rem;
    }

    .toggle-menu {
      display:block !important;
      width:2rem;
      height:.3rem;
      transition:.3s;

      &:before, &:after {
        content:'';
        position:absolute;
      }

      &:before {
        width:2.5rem;
        height:.3rem;
        margin-left:-2rem;
        margin-top:-.8rem;
      }
    }

    .toggle-menu.close {
      transition:.3s;
      transform:rotate(145deg);

      &:before {
        opacity:0;
      }
    }
    
    .menu, .login {
      display:none !important;
      animation:hides-menu .3s forwards;
    }

    .menu.active {
      cursor:initial;
      display:grid !important;
      background:$menu-background;
      background:$menu-gradient;
      position:absolute;
      right:3rem;
      top:4rem;
      padding:1rem 2rem;
      gap:1.5rem;
      border-radius:.5rem 0 .5rem .5rem;
      border-top:.1rem solid transparent;
      border-right:.1rem solid transparent;
      border-bottom:.17rem solid rgba(161, 161, 161, .3);
      border-left:.17rem solid rgba(161, 161, 161, .3);
      animation:show-menu .3s forwards;
    }

    .login-menu.active {
      margin-top:.3rem;
      margin-left:-.7rem;
    }
  }

  .background-image {
    height:127vh;
  }

  .curiosidades {
    -webkit-clip-path:polygon(0 7%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
    grid-template-columns:1fr;
    min-height:100rem;
    gap:1rem;
    padding-top:5rem;
    padding-bottom:10rem;
    
    div.active:nth-child(2), div.active:nth-child(3) {
      margin-top:1rem;
    }
  }

  footer {
    -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%) !important;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%) !important;
    margin-top:-9rem !important;
    padding-top:6rem !important;
  }

  .container {
    height:45rem !important;
    width:auto !important;
    display:grid !important;
    place-content:top !important;
    gap:5rem;
    margin-top:6rem !important;  
    margin-left:-3rem !important;
  }

  .perguntas-frequentes, .feedback {
    margin-left:2.8rem;
  }

  .perguntas-frequentes {
    grid-area:2 / 1;
    margin-top:12rem;
  }

  .newsletter {
    justify-self:center;
    height:6.8rem;
  }

  .feedback {
    height:5rem;
    grid-area:2 / 1;

    span {
      width:6.5rem;
    }
  }
}

@media (max-width:44rem) {
  section {
    article {
      font-size:2rem;
      max-width:24.5rem;
    }

    button {
      font-size: 1rem !important;
    }
  }
}

@media (max-width:27rem) {
  header {
    nav {
      margin-right:-.8rem;
    }
  }

  section {
    article {
      font-size:1.375rem;
      width:17rem;
    }
  }

  .link-scroll {
    margin-top:1.8rem !important;
  }

  .newsletter {
    button {
      margin-top:3.4rem !important;
    }
  }
}

@media (max-height:32rem) {
  section {
    article {
      margin-top:6rem;
    }
  }
}
