@media (max-width:65rem) {
  body {
    background:none;
  }

  header {
    padding:0rem 1.5rem .6rem .3rem;

    .logo {
      height:3rem;
    }

    nav {
      gap:none;
      cursor:pointer;
      width:2.7rem;
      height:1rem;
      border-radius:.3rem;
      padding:none;
      justify-content:center;
      margin-top:1.1rem;
    }

    .toggle-menu, .toggle-menu:before, .toggle-menu:after {
      background:$toggle-menu-background;
      background:$toggle-menu-gradient;
      border-radius:.1rem 0 0 .1rem;
    }

    .toggle-menu {
      display:block;
      width:2rem;
      height:.3rem;

      &:before, &:after {
        content:'';
        position:absolute;
      }

      &:before {
        width:2.5rem;
        height:.3rem;
        margin-left:-2rem;
        margin-top:-.8rem;
      }
    } 
    
    .menu, .login {
      display:none;
    }
  }

  .background-image {
    height:127vh;
  }

  section {
    article {
      font-size:1.625rem;
      max-width: 26rem;
    }
  }

  .curiosidades {
    -webkit-clip-path:polygon(0 7%, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);
    grid-template-columns:1fr;
    min-height:100rem;
    gap:1rem;
    padding-top:5rem;
    padding-bottom:10rem;
    
    div.active:nth-child(2), div.active:nth-child(3) {
      margin-top:1rem;
    }
  }

  footer {
    -webkit-clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%) !important;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%) !important;
    margin-top:-9rem !important;
    padding-top:6rem !important;
  }

  .container {
    height:45rem !important;
    width:auto !important;
    display:grid !important;
    place-content:top !important;
    gap:5rem;
    margin-top:6rem !important;  
    margin-left:-3rem !important;
  }

  .perguntas-frequentes, .feedback {
    margin-left:2.8rem;
  }

  .perguntas-frequentes {
    grid-area:2 / 1;
    margin-top:12rem;
  }

  .newsletter {
    justify-self:center;
    height:6.8rem;
  }

  .feedback {
    height:5rem;
    grid-area:2 / 1;

    span {
      width:6.5rem;
    }
  }
}

//menu
// background: rgb(50, 50, 50);
// background: linear-gradient(45deg, rgba(50, 50, 50, 1) 75%, rgba(161, 161, 161, 0.7) 100%);

//toggle close background:#00A19C;