@import 'config';
@import 'keyframes';
@import 'queries';

header, nav, .menu {
  display:flex;
}

header {
  position:fixed;
  top:0;
  left:0;
  width:100vw;
  border-radius:0rem 0rem 1.2rem 1.2rem;
  background:$header-background;
  background:$header-gradient;
  padding:.2rem 1.5rem .6rem 1.2rem;
  justify-content:center;
  gap:43rem;
  align-items:center;
  z-index:3;

  .logo, li, button {
    cursor:pointer;
  }

  .login-menu {
    display:none;
  }

  li, .login, .login-menu.active {
    color:$m-white;
  }

  nav {
    align-items:center;
    gap:2.5rem;
  }

  .toggle-menu, .menu.active {
    display:none;
  }

  .menu {
    gap:1.8rem;
  }

  li {
    display:inline-block;
    list-style:none;
    font-size:1.125rem;
    padding:.125rem .375rem;
    opacity:.8;
    transition:$padrao-button;

    &:hover {
      opacity:1;
      transition:$padrao-button;
    }
  
    &::after {
      content: '';
      background:$contrast;
      height:.13rem;
      position:absolute;
      margin-top:1.4rem;
      margin-left:-1rem;
      float:right;
      opacity:.9;
    }
  }

  .login, .login-menu.active {
    background: linear-gradient(90deg, rgba(0, 161, 156, 1), rgba(16, 197, 192, 0) 51%, rgba(16, 197, 192, 0)) var(--x, 0) / 200%;
    min-width:6.2rem;
    padding:.5rem .8rem .5rem 1rem;
    border-radius:.2rem;
    font-size:1.125rem;
    transition:.5s;
    display:block;

    svg {
      margin-left:.5rem;
      animation:back-arrow .5s forwards;
    }

    &:hover {
      svg {
        animation:go-arrow .5s forwards;
      }

      --x:-70%;
    }
  }
}

@media (max-width:83rem) {
  header {
    justify-content:space-between;
    gap:0;
  }
}
