@import 'config';
@import 'keyframes';

.curiosidades {
  background:#F0EFEF;
  width:100vw;
  height:100vh;
  // -webkit-clip-path: polygon(0 13%, 100% 0, 100% 85%, 0 100%);
  // clip-path: polygon(0 13%, 100% 0, 100% 85%, 0 100%);
  -webkit-clip-path: polygon(0 13%, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 13%, 100% 0, 100% 85%, 0 100%);
  display:flex;
  justify-content:center;
  align-items:center;
  gap:15rem;
  z-index:2;

  div {
    display:grid;
    gap:.8rem;
    align-items:center;
    justify-items:center;

    img {
      opacity: .9;
    }

    span {
      font-size:1.125rem;
      color:#1A1A1A;

      &:before {
        content:'';
        position:absolute;
        background:#10C5C0;
        width:.6rem;
        height:.8rem;
        margin-left:-.3rem;
        z-index:-1;
        border-radius:.15rem 0 0 .15rem;
      }

      &:after {
        content:'';
        position:absolute;
        background:transparent;
        opacity:.6;
        width:4rem;
        height:.1rem;
        display:block;
        margin-top:1.5rem;
        box-shadow:0px 18px 5px 1px rgba(0, 161, 156, 0.86);
      }
    }

    .titulos:after {
      margin-left:-2.5rem;
    }

    .winner:after {
      margin-left:1.5rem;
      width:2rem;
    }

    .pole-positions:after {
      margin-left:5rem;
    }
  }
}
