@import 'config';
@import 'keyframes';

.background-image {
  position:absolute;
  top:0;
  left:0;
  width:100vw;
  height:115vh;
  object-fit:cover;
  filter:blur(.1rem);
  z-index:-1;
}

section, article {
  display:grid;
}

section {
  align-items:center;
  justify-content:center;
  width:100vw;
  height:100vh;

  article {
    background:$article-background;
    background:$article-gradient;
    max-width:38rem;
    padding:2rem 1rem 4.5rem 1rem;
    color:$m-white;
    font-size:2.375rem;
    text-align:center;
    animation:show-main-container 1.8s forwards;

    button {
      background:rgb(0, 161, 156);
      background:linear-gradient(90deg, rgba(0, 161, 156, 1) 0%, rgba(42, 240, 235, .1)) var(--x, 0%) / 200%;
      margin-top:2.5rem;
      border-radius:.375rem;
      padding:.75rem 1.5rem;
      justify-self:center;
      font-size:1.125rem;
      color:#FFFFFF;
      letter-spacing:.1rem;
      opacity:.9;
      cursor:pointer;
      transition:.8s;
      animation:show-main-button 1.9s forwards;

      &:hover {
        opacity:1;
        --x:-180%;
        transition:1s !important;
      }
    }
  }
}
