@import './Components/scss/config';

* {
  margin:0;
  border:0;
  padding:0;
  box-sizing:border-box;
  font-family:$main-font;
}

body {
  background:$body-background;
  background:$body-gradient;
  display:grid;
  justify-content:center;
}

/* scroll */
